
*{
    box-sizing: border-box;
}
.row::after{
    content:"";
    clear:both;
    display: table;
}
html{
    font-family: "Lucida Sans," Arial;
}
.header{
    Background-color: #F3F118;
    color: black;
}
.menu ul {
    list-style-type: none;
    margin: 10;
    padding: 10
}
menu li{
    padding: 8px;
     margin-bottom: 7px;
     background-color: #F3F118;
    color: black;
   
}
menu li:hover{
    background-color: #B6A00E ;
}

  .footer {
    background-color: #F3F118;
    color: black;
    text-align: center;
    font-size: 12px;
    padding: 15px;
  }

  @media only screen and (min-width: 768px) {
    .colr {
        width: 25%;
        float: right
       
      }
    
    .coll {
        width: 25%;
      float: left
  }
  
    }
    .colm {
        width: 50%;
        float:left
        
      }
      text{
          background-color: aquamarine;
      }
      p{
        background-color: aquamarine;
      }
      h1{
          background-color: #F3F118;
      }
      ul {
          overflow: hidden;
        list-style-type: none;
        margin: 0;
        padding: 50px black;
        overflow: hidden;
        background-color:black;
        color:blueviolet;
        font:x-large;
        
        
      }
      li{
          display:inline;
      }
    
    
    .active {
      background-color:aquamarine;
    }
    a{
        text-decoration: none;
    }
    
    
    li a:hover {
      background-color:darkcyan;
    }
      