* {
    box-sizing: border-box;
  }
  
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
  }
  
  
  .header {
    padding: 20px;
    text-align: center;
    background: #c229c2;
    color: white;
  }
  
  
  
  
 
 
  .row {  
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap; 
    flex-wrap: wrap;
  }
  
  
  .side {
    -ms-flex: 30%; 
    flex: 30%;
    background-color: #ecc3ec;
    padding: 20px;
  }
  
 
  .main {   
    -ms-flex: 70%; 
    flex: 70%;
    background-color: white;
    padding: 20px;
  }
  
  
  
  
  
  .footer {
    padding: 20px;
    text-align: center;
    background: lightgrey;
  }
  
  
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  .navbar {
    overflow: hidden;
    background-color: rgb(71, 1, 68);
  }
  
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: rgb(240, 104, 217);
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgb(243, 177, 232);
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
 
